* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 0px;
  width: 0px;
}

.main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
